@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&family=PT+Mono&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

:root{
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}

* {
  margin: 0;
  padding: 0;
}

body{
  /* background-color: var(--base02); */
  color: var(--base0);
  background: rgb(0,43,54);
  background: linear-gradient(rgba(0,43,54,1) 30%, #eee8d5 300%);
  min-height: 100vh;
  background-size: auto;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

nav {
  background-color: var(--base03);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 20px 30px;
  font-size: 20px;
  flex-flow: row nowrap;
  font-family: 'PT Mono', monospace;
}

a {
  text-decoration: none;
  color: var(--base01)
}

.connect-wallet-button{
  font-size: 18px;
  padding: 8px 10px;
  background-color: var(--base3);
  color: var(--base01);
  border: 0px solid;
  font-family: 'PT Mono', monospace;
  cursor: pointer;
  border: 0 solid;
  border-radius: 5px;
}

.nav-left{
  flex-grow: 1;
  font-size: 25px;
}

.nav-right{
  display: flex;
  flex-grow: 5;
  justify-content: flex-end;
}

.nav-right > ul{
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-right > ul > li {
  margin: 10px 15px;
}
